@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*, .review-body {
  font-family: "Jersey 10", sans-serif !important;
  font-weight: 400 !important;
  -fx-text-fill:#9CC5E2;
}
.root {
    -fx-font-family:'Jersey 10';
    -fx-text-fill:#9CC5E2;
    -fx-font-color:#9CC5E2;
}
.background-pane {
-fx-background-image: url('fondo.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-pref-width: 720px;
    -fx-pref-height: 480px;
    -fx-min-width: 720px;
    -fx-min-height: 480px;
    -fx-max-width: 720px;
    -fx-max-height: 480px;
}
#titulo{
-fx-font-family:'Jersey 10';
-fx-font-size: 40px;
-fx-background-color:black;
-fx-fill:#CBD8FA;}

#areaCompletar{
-fx-font-family:'Jersey 10';
-fx-text-fill:#9CC5E2;
}
.button{
-fx-text-fill:#397DCA;
-fx-font-size: 20px;
-fx-font-family:'Jersey 10';
-fx-background-color: #60A85A;
-fx-text-fill: white;
}
.button:hover {
    -fx-text-fill: #7CBFA7;
}
.text{
-fx-background-color:red;
}



#letra{
-fx-alignment:center;
-fx-text-fill: #9ACEFF;
-fx-font-family:'Jersey 10';
-fx-font-size: 28px;
-fx-margin: 20 0 0 0;
}
.button:pressed {
-fx-text-fill: #FFFFFF;
}

#areaCompletar{
-fx-text-fill: #0C2043;
-fx-font-size: 60px;
-fx-font-family:'Jersey 10';
}
#ResultTries{
-fx-font-family:'Jersey 10';
}
#letrasAcertadasId{
-fx-font-family:'Jersey 10';
}
#letrasFalladasId{
-fx-font-family:'Jersey 10';
}
#contador{
-fx-font-family:'Jersey 10';
}
